/* -- import -- */

@charset "UTF-8";

@font-face {
  font-family: 'Passion One';
  src: url('../fonts/Passion_One/PassionOne-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  /*
    Tipos de format()
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-aat (Apple Advanced Typography)
    - svg
  */
  font-family: 'Sriracha';
  src: url('../fonts/Sriracha/Sriracha-Regular.ttf') format('truetype'); 
  font-weight: 400;
}

/* -- setting -- */

* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

:root {
  /* - cores - */
  --dark-color: rgba(0, 0, 0, 0.950);
  --light-color: rgba(255, 255, 255, 0.950);
  --light-bg-color: darkgray;
  --dark-bg-color: rgb(51, 51, 51);
  --transparent-color: rgba(0, 0, 0, 0.400);

  /* - fontes - */
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: 'Passion One', cursive;
  --tertiary-font: 'Sriracha', cursive;
}

/* -- html e body -- */

html, body {
  min-height: 100vh;
  background-color: var(--light-bg-color);
}

a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

/* -- header -- */

header {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  /* text-transform: uppercase; */
  font-family: var(--secondary-font);
  font-size: 10vw;
}

header > p {
  padding-bottom: 50px;
}

/* -- main -- */

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--tertiary-font);
  font-size: 3.5vw;
}

section > p {
  padding: 1em;
}

section.normal {
  background-color: var(--light-color);
  color: var(--dark-color);
}

section.imagem {
  background-color: var(--dark-bg-color);
  color: var(--light-color);
  box-shadow: inset 6px 6px 13px 0px var(--transparent-color);
  background-size: cover;
  background-attachment: fixed;
}

section.imagem p {
  display: inline-block;
  background-color: var(--transparent-color);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.950);
}

section#img1 {
  background-image: url('../static/imagens/background001.jpg');
  background-position: right center;
}

section#img2 {
  background-image: url('../static/imagens/background002.jpg');
  background-position: right center;
}

/* -- footer -- */

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
  padding: 10px;
}